@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body{
    background-color: var(--background-color,blue);
    height: 100vh;
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
}

.profile-card{
    background-color: white;
    width: 350px;
    height: 375px;
    border-radius: 5%;
    
}

.parte-superior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
}

.usuario{
    border-radius: 50%;
}

.nome-idade{
    color: var(--text-color, gray);
    padding-bottom: 20px;
    padding-top: 20px;
}

.nome-user{
    color: black;
}

.cidade-natal{
    color: var(--text-color, gray);
}
