body{
    width: 100%;
    height: 100vh;
    font-family: "Public Sans", sans-serif;
}

.lista{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: #fff;
}

.lista li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 20px;
    padding-bottom: 40px;
    width: 335px;
    height: 430px;
}

.lista .roma{
    background-image:url(../imagens/rome.png);
    background-size: cover;
}

.lista .barco{
    background-image:url(../imagens/boat.png);
    background-size: cover;
}

.lista .areia{
    background-image:url(../imagens/sand-and-sea.png);
    background-size: cover;
}

.lista .noite{
    background-image:url(../imagens/starry-night.png);
    background-size: cover;
}

.lista .titulo{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
}

.lista .pintor{
    font-weight: 300;
    font-size: 17px;
}