* {
    margin: 0px;
} 

body {
    height: 1500px;
    padding-top: 67px;
}

header {
    font-size: 24px;
    background-color: lightblue;
    position: fixed;
    width: 100%;
    padding: 20px;
    top: 0px;
}

