@media(max-width: 960px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .titulo{
        justify-content: center;
        font-size: 40px;
        margin-left: 0px;
    }

    .header .titulo::before{
        height: 62px;
        width: 65px;
        margin:50px 5px 76px 5px;
        transform: translateY(10px);
    }

    .header .opcoes .lista{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-right: 0px;
        padding-left: 0px;;
        justify-content: center;
        align-items: center;
    }

    .header .opcoes .lista li{
        padding: 17px 40px;
        font-size: 40px;
    }

    .header .opcoes .lista li:hover{
        background-color: lightblue;
    }

    .header .opcoes .lista .botao{
        font-size: 18px;
        padding: 15px 22px;
    }

    .header .opcoes .lista .botao:hover{
        background-color: lightblue;
    }
}